Repository Azure-Samples/openhack-production: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Path conditions:
  pipelines/api-pipelines.yml: any of: api, pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml: any of: deployment, pipelines/deploy-infrastructure.yml

chore: clean up vscode setttings to get project working for vscode
  api/.vscode/extensions.json
  api/.vscode/launch.json
  api/.vscode/settings.json
  api/.vscode/tasks.json
Due: pipelines/api-pipelines.yml

update README prereqs to be able to run 'dotnet build'
  api/README.md
Due: pipelines/api-pipelines.yml

ignore launch.json for backend
  api/.gitignore
Due: pipelines/api-pipelines.yml

chore: clean up settings to get app running in vscode (#10)
  api/.gitignore
  api/.vscode/extensions.json
  api/.vscode/launch.json
  api/.vscode/settings.json
  api/.vscode/tasks.json
  api/README.md
Due: pipelines/api-pipelines.yml

Code comments
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

file formatting:
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

formatting
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

formatting of global.json
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

Formatted json
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

Removed hard coded strings
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Code comments
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
Due: pipelines/deploy-infrastructure.yml

Code comments
  deployment/arm/deploy-global.sh
Due: pipelines/deploy-infrastructure.yml

Added Cosmos databasename & containername as part of deployment appsettings
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Updates to API README.md file
  api/README.md
Due: pipelines/api-pipelines.yml

Moved the if check on top
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
Due: pipelines/deploy-infrastructure.yml

Updated API README.md with more information Uploaded screenshot of API being started
  api/README.md
  api/docs/api_start.png
  api/docs/func_start.png
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml

Updated API images Added image to depict turning of ssl verification in Postman Updated theurlist_localhost_env.json localhost port
  api/README.md
  api/docs/postman-disable-ssl-verification.png
  api/docs/postman_localhost.png
  api/docs/postman_response.png
  api/theurlist_localhost_env.json
Due: pipelines/api-pipelines.yml

CI/CD pipeline for Urlist Backend App (#7)
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Documented end points for api
  api/README.md
Due: pipelines/api-pipelines.yml

Installed and configured Swagger Package
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

improve local development experience
  api/.gitignore
  api/src/LinkyLink/appsettings.Development.json
  api/src/LinkyLink/appsettings.json
  api/src/LinkyLink/appsettings.sample.json
  api/validate-api.http
Due: pipelines/api-pipelines.yml

replace test url
  api/validate-api.http
Due: pipelines/api-pipelines.yml

improve local development experience (#11)
  api/.gitignore
  api/src/LinkyLink/appsettings.Development.json
  api/src/LinkyLink/appsettings.json
  api/src/LinkyLink/appsettings.sample.json
  api/validate-api.http
Due: pipelines/api-pipelines.yml

Added code coverage
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Final revisiions made to README.md
  api/README.md
  api/docs/swagger.png
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/ValidatePageController.cs
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Removing the .Develoment.json and appsettings.json files
  api/src/LinkyLink/appsettings.Development.json
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml

Updated API images Added image to depict turning of ssl verification in Postman Updated theurlist_localhost_env.json localhost port
  api/README.md
Due: pipelines/api-pipelines.yml

Removing the .Develoment.json and appsettings.json files
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml
