Repository Azure-Samples/openhack-production: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Path conditions:
  pipelines/api-pipelines.yml: any of: api, pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml: any of: deployment, pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml: any of: frontend, pipelines/frontend-pipelines.yml

Adding FE deployment scripts
  deployment/.DS_Store
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  deployment/arm/region.json
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml

Updating FE pipeline to use relative path
  pipelines/frontend-pipeline.yml
Due: none

Updated appName ane environemnt to use variable group
  pipelines/deploy-infrastructure.yml
Due: pipelines/deploy-infrastructure.yml

fix: Fix infrastructure pipeline based on deploy script changes (#16)
  pipelines/deploy-infrastructure.yml
Due: pipelines/deploy-infrastructure.yml

Added quality check task
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

merge conflicts
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

renamed stage and job display name
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

added dependson
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Created new class OpenGraphRequest
  api/README.md
  api/docs/rest_client.png
  api/docs/swagger.png
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Models/OpenGraphRequest.cs
  api/src/LinkyLink/Service/IOpenGraphService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/tests/LinkyLink.Tests/OpenGraphControllerTests.cs
  api/theurlist_collection.json
  api/validate-api.http
Due: pipelines/api-pipelines.yml

* Adding script for setting up infrastructure and deployment for the frontend * Extracted common script into its own file for reuseability
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  deployment/arm/region.json
  frontend/generate-fe-configs.sh
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

fix: Adds launch settings for visual studio
  api/src/LinkyLink/Properties/launchSettings.json
Due: pipelines/api-pipelines.yml

Fixes for pipeline and script
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  frontend/generate-fe-configs.sh
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Removed code that should have been removed when refactor attempt was rolled back
  api/src/LinkyLink/Controllers/OpenGraphController.cs
Due: pipelines/api-pipelines.yml

Code coverage report (#13)
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Added docs about running backend API from visual studio
  api/README.md
Due: pipelines/api-pipelines.yml

fix: Adds launch settings for visual studio (#18)
  api/README.md
  api/src/LinkyLink/Properties/launchSettings.json
Due: pipelines/api-pipelines.yml

API Updates & Documentation (#17)
  api/README.md
  api/docs/rest_client.png
  api/docs/swagger.png
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Models/OpenGraphRequest.cs
  api/src/LinkyLink/Service/IOpenGraphService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/tests/LinkyLink.Tests/OpenGraphControllerTests.cs
  api/theurlist_collection.json
  api/validate-api.http
Due: pipelines/api-pipelines.yml

Applying PR feedback + fixes
  deployment/.DS_Store
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  frontend/deployment/generate-fe-configs.sh
  frontend/deployment/publish-to-host.sh
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Deployment folder no longer needed
  frontend/deployment/publish-to-host.sh
  frontend/generate-fe-configs.sh
Due: pipelines/frontend-pipeline.yml

Fixed path for produced configs
  frontend/generate-fe-configs.sh
Due: pipelines/frontend-pipeline.yml

Re-front end pipeline and deployment scripts (#19)
  deployment/.DS_Store
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  deployment/arm/region.json
  frontend/generate-fe-configs.sh
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Moved line about copying appsettings file to top of section
  api/README.md
Due: pipelines/api-pipelines.yml

docs: Added docs about running backend API from visual studio (#20)
  api/README.md
Due: pipelines/api-pipelines.yml

Fixed env variable name per variables group
  pipelines/frontend-pipeline.yml
Due: none

Fixed env variable name per variables group (#21)
  pipelines/frontend-pipeline.yml
Due: none

wip: Set app service auth in deployment scripts
  api/src/LinkyLink/Controllers/HealthController.cs
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  deployment/arm/region.json
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Updated default action to allow anonymous
  deployment/arm/deploy-region.sh
Due: pipelines/deploy-infrastructure.yml

Updated deployment scripts / templates to reflect actual APIs
  api/src/LinkyLink/Controllers/HealthController.cs
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
  deployment/arm/region.json
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Applied PR feedkback
  api/src/LinkyLink/Controllers/HealthController.cs
  api/src/LinkyLink/Controllers/LinksController.cs
  deployment/arm/common-script.sh
  deployment/arm/region.json
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Fixed line endings
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

fix: Update deployment templates for APIM & Frontdoor (#23)
  api/src/LinkyLink/Controllers/HealthController.cs
  api/src/LinkyLink/Controllers/LinksController.cs
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  deployment/arm/region.json
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Adding Dockerfile for backend local development
  api/README.md
  api/src/LinkyLink/.dockerignore
  api/src/LinkyLink/Dockerfile
Due: pipelines/api-pipelines.yml

Adding Dockerfile for backend local development (#24)
  api/README.md
  api/src/LinkyLink/.dockerignore
  api/src/LinkyLink/Dockerfile
Due: pipelines/api-pipelines.yml

* Fixed the output directory for the frontend config generation script * Fixed environment variable reference in the frontend pipeline * Removed the default prod env file
  deployment/arm/common-script.sh
  frontend/.env.production
  frontend/generate-fe-configs.sh
  frontend/package-lock.json
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Undoing local changes
  deployment/arm/common-script.sh
Due: pipelines/deploy-infrastructure.yml

Fixed a typo
  frontend/generate-fe-configs.sh
Due: pipelines/frontend-pipeline.yml

Fixed the frontend config generation (#25)
  deployment/arm/common-script.sh
  frontend/.env.production
  frontend/generate-fe-configs.sh
  frontend/package-lock.json
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Adds APIM & frontdoor configuration for auth forwarding
  deployment/arm/global.json
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml
