Repository Azure-Samples/openhack-production: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

pipelines/api-pipelines.yml:
  name: api-pipeline
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndValidate
    displayName: Build & Validate
    jobs:
    - template: templates/api-build.yml
  - stage: Development
    displayName: Development
    dependsOn: BuildAndValidate
  ...

pipelines/deploy-infrastructure.yml:
  name: deploy-infrastructure
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Development
    displayName: Development
    variables:
    - group: prodoh-urlist-dev
    jobs:
    - template: templates/iac-deploy-environment.yml
      parameters:
  ...

pipelines/frontend-pipeline.yml:
  name: frontend-pipeline
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Development
    displayName: Development
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    variables:
    - group: prodoh-urlist-dev
    jobs:
    - template: templates/frontend-deploy-environment.yml
  ...

Added another service test
  api/tests/LinkyLink.Tests/Service/OpenGraphServiceTests.cs
Due: pipelines/api-pipelines.yml

Increased code coverage to 66%
  api/tests/LinkyLink.Tests/Controllers/OpenGraphControllerTests.cs
  pipelines/templates/api-build.yml
Due: pipelines/api-pipelines.yml

Updated per feedback
  docs/working-agreement.md
Due: none

Updated working agreement per team's dry run discussion (#51)
  docs/working-agreement.md
Due: none

added comment to UserAuth class
  api/src/LinkyLink/Helpers/UserAuth.cs
Due: pipelines/api-pipelines.yml

Updated class summary for UserAuth class
  api/src/LinkyLink/Helpers/UserAuth.cs
Due: pipelines/api-pipelines.yml

Backend code coverage (#50)
  api/LinkyLink.sln
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/Models/Link.cs
  api/src/LinkyLink/Models/LinkBundle.cs
  api/src/LinkyLink/Models/LinksContext.cs
  api/src/LinkyLink/Models/OpenGraphRequest.cs
  api/src/LinkyLink/Models/OpenGraphResult.cs
  api/src/LinkyLink/Models/UserInfo.cs
  api/src/LinkyLink/Program.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  api/tests/LinkyLink.Tests/Controllers/HealthControllerTests.cs
  api/tests/LinkyLink.Tests/Controllers/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/Controllers/OpenGraphControllerTests.cs
  api/tests/LinkyLink.Tests/OpenGraphControllerTests.cs
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
  api/tests/LinkyLink.Tests/Service/OpenGraphServiceTests.cs
  pipelines/templates/api-build.yml
Due: pipelines/api-pipelines.yml

separate combo pipelines into build & deploy pipelines
  pipelines/api-build.yml
  pipelines/api-deploy.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-build.yml
  pipelines/frontend-deploy.yml
  pipelines/templates/api-build.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/deployment-gate.yml
  pipelines/templates/frontend-deploy-environment.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/deploy-infrastructure.yml

remove pr trigger in yaml since it only works for github repo & azdo pipeline which we are not using
  pipelines/api-build.yml
  pipelines/frontend-build.yml
Due: none

separate combo pipelines into build & deploy pipelines (#53)
  pipelines/api-build.yml
  pipelines/api-deploy.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-build.yml
  pipelines/frontend-deploy.yml
  pipelines/templates/api-build.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/deployment-gate.yml
  pipelines/templates/frontend-deploy-environment.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/deploy-infrastructure.yml

Merged PR 1879: Scale down App service instance and cosmos db global replication
  deployment/arm/deploy-global.sh
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml

Merged PR 1875: update build pipelines to only run off pr not branch changes
  pipelines/api-build.yml
  pipelines/api-deploy.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-build.yml
  pipelines/frontend-deploy.yml
Due: pipelines/deploy-infrastructure.yml

Merged PR 1881: Cleaned up back-end code
  api/src/LinkyLink/Controllers/HealthController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/tests/LinkyLink.Tests/Controllers/OpenGraphControllerTests.cs
Due: pipelines/api-pipelines.yml

Merged PR 1884: explicity set subscription when running az deploy commands
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  pipelines/api-deploy.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-deploy.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/frontend-deploy-environment.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/deploy-infrastructure.yml

Merged PR 1947: docs: Updates docs for better developer setup
  README.md
  api/.gitignore
  api/.vscode/launch.json
  api/.vscode/tasks.json
  api/README.md
  frontend/README.md
Due: pipelines/api-pipelines.yml, pipelines/frontend-pipeline.yml

Merged PR 1949: feat: Adds simple paging into links service
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Models/QueryOptions.cs
  api/src/LinkyLink/Service/ILinksService.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/tests/LinkyLink.Tests/Controllers/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
Due: pipelines/api-pipelines.yml

Merged PR 1945: Fixed typos identified during the DryRun
  README.md
  SECURITY.md
  api/README.md
  deployment/README.md
  deployment/pipelines.md
  deployment/scripts.md
  docs/AzureADB2C.md
  docs/Infrastructure.md
  frontend/README.md
  pipelines/README.md
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Merged PR 1961: Improves test coverage for LinkService
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
Due: pipelines/api-pipelines.yml

Merged PR 1948: feat: Setup skeleton for app insights telemetry initializer
  api/src/LinkyLink/Helpers/AppInsightsTelemetryInitializer.cs
  api/src/LinkyLink/Startup.cs
  api/tests/LinkyLink.Tests/Helpers/AppInsightsTelemetryInitializerTests.cs
Due: pipelines/api-pipelines.yml

Merged PR 1966: Add tests to dockerfile for dotnet
  api/Dockerfile
Due: pipelines/api-pipelines.yml

Merged PR 1976: add markdown linting
  .gitignore
  .markdownlint.json
  LINTING.md
  README.md
  SECURITY.md
  deployment/pipelines.md
  deployment/scripts.md
  docs/AzureADB2C.md
  frontend/README.md
  package.json
  pipelines/linting.yml
Due: pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Merged PR 1962: Removed the dependency of nested arm template
  deployment/arm/apim-logger.json
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

Merged PR 1987: Added wildcard to health APIM route
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml

Merged PR 1992: add table of contents to all documentation
  api/README.md
  docs/AzureADB2C.md
  docs/Infrastructure.md
  docs/working-agreement.md
  package.json
Due: pipelines/api-pipelines.yml

Merged PR 1991: Updated GetLinkBundlesAsync to return ActionResult
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/tests/LinkyLink.Tests/Controllers/LinksControllerTests.cs
Due: pipelines/api-pipelines.yml

Merged PR 1990: Redmond DryRun Feedback
  api/.vscode/tasks.json
  api/src/LinkyLink/Service/LinksService.cs
Due: pipelines/api-pipelines.yml

Merged PR 2005: fix linting command failure on local machine
  LINTING.md
  docs/AzureADB2C.md
  package.json
Due: none

Merged PR 1994: Minor changes to doc and deployment
  README.md
  api/README.md
  docs/working-agreement.md
  frontend/README.md
  pipelines/templates/api-build.yml
Due: pipelines/api-pipelines.yml, pipelines/frontend-pipeline.yml

Merged PR 2004: Parameterized arm template
  deployment/arm/apim-logger.json
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml

Merged PR 2007: Moves integration tests 'BaseAddress' to configuration root
  api/README.md
  api/tests/LinkyLink.Integration.Tests/AzureAdB2C.cs
  api/tests/LinkyLink.Integration.Tests/LinkApiTests.cs
  api/tests/LinkyLink.Integration.Tests/appsettings.json
  pipelines/templates/api-deploy-environment.yml
Due: pipelines/api-pipelines.yml

Merged PR 2009: Setup VS Code Devcontainers for both Frontend and Backend.
  api/.devcontainer/Dockerfile
  api/.devcontainer/devcontainer.json
  frontend/.devcontainer/Dockerfile
  frontend/.devcontainer/devcontainer.json
Due: pipelines/api-pipelines.yml, pipelines/frontend-pipeline.yml

Merged PR 2010: Updated the infrastructure image with latest version
  docs/images/infrastructure-diagram.png
Due: none

Merged PR 2008: update readme guide for api service
  api/.gitignore
  api/README.md
  api/tests/LinkyLink.Integration.Tests/appsettings.sample.json
  frontend/.env.sample.local
  frontend/.gitignore
  frontend/README.md
  pipelines/templates/api-build.yml
Due: pipelines/api-pipelines.yml, pipelines/frontend-pipeline.yml

Merged PR 2012: fix api deploy due to appsettings.json changes
  pipelines/templates/api-deploy-environment.yml
Due: none

Merged PR 2011: Plumb through scaling params via DevOps pipelines
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  pipelines/deploy-infrastructure.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/deploy-infrastructure.yml

Merged PR 2017: Adds support to deploy regions in parallel
  deployment/arm/deploy-global.sh
  deployment/arm/deploy.sh
Due: pipelines/deploy-infrastructure.yml

Merged PR 2020: update frontend README base on dry run feedback
  frontend/README.md
Due: pipelines/frontend-pipeline.yml

Updates version number for BuildQualityGates
  pipelines/templates/api-build.yml
Due: none

Updates version number for BuildQualityGates (#59)
  pipelines/templates/api-build.yml
Due: none

Path conditions:
  pipelines/api-pipelines.yml: any of: api, pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml: any of: deployment, pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml: any of: frontend, pipelines/frontend-pipeline.yml
