Repository Azure-Samples/openhack-production: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

pipelines/api-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: APICI
    displayName: API CI
    jobs:
    - job: APICI
      displayName: Build Test and Publish
      steps:
      - task: UseDotNet@2
        displayName: Dotnet version 3.1.100
        inputs:
          version: 3.1.100
      - task: DotNetCoreCLI@2
  ...

pipelines/deploy-infrastructure.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: DeployRegionalInfrastructure
    displayName: Regional
    jobs:
    - job: RegionalMaxtrixDeployment
      displayName: Resource Group
      strategy:
        matrix:
          westus2:
            region: westus2
          eastus:
            region: eastus
  ...

Added missing nuget package
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

changed arguments
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Updated api README with instructions to set environment variable Fixed .gitignore file for api to ignore .Development.json files
  api/.gitignore
  api/README.md
Due: pipelines/api-pipelines.yml

Adding FE deployment scripts
  deployment/.DS_Store
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
  deployment/arm/global.json
  deployment/arm/region.json
  pipelines/frontend-pipeline.yml
Due: pipelines/deploy-infrastructure.yml

Removed DS_Store and added gitignore to main dir
  .gitignore
  deployment/.DS_Store
Due: pipelines/deploy-infrastructure.yml

Updated deploy.sh to accept argument flags
  deployment/arm/deploy.sh
Due: pipelines/deploy-infrastructure.yml

Upadted scripts to use flag options instead of positional args
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
Due: pipelines/deploy-infrastructure.yml

Updated docs for deploy.sh script
  deployment/docs/README.md
Due: pipelines/deploy-infrastructure.yml

Add set -e to fail early on errors
  deployment/arm/deploy.sh
Due: pipelines/deploy-infrastructure.yml

doc: Fixed spelling errors
  deployment/docs/README.md
Due: pipelines/deploy-infrastructure.yml

fix: Address merge conflicts from rebase
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
Due: pipelines/deploy-infrastructure.yml

Fixed line endings on a few files
  api/.gitignore
  api/src/LinkyLink/appsettings.sample.json
  api/validate-api.http
  deployment/arm/global.json
  deployment/docs/README.md
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Updates to API README.md file
  api/README.md
Due: pipelines/api-pipelines.yml

Updated API images Added image to depict turning of ssl verification in Postman Updated theurlist_localhost_env.json localhost port
  api/README.md
  api/docs/postman-disable-ssl-verification.png
  api/docs/postman_localhost.png
  api/docs/postman_response.png
  api/theurlist_localhost_env.json
Due: pipelines/api-pipelines.yml

Updated API README.md with more information Uploaded screenshot of API being started
  api/README.md
  api/docs/api_start.png
  api/docs/func_start.png
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml

Documented end points for api
  api/README.md
Due: pipelines/api-pipelines.yml

Updated API images Added image to depict turning of ssl verification in Postman Updated theurlist_localhost_env.json localhost port
  api/README.md
Due: pipelines/api-pipelines.yml

Installed and configured Swagger Package
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Final revisiions made to README.md
  api/README.md
  api/docs/swagger.png
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/ValidatePageController.cs
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Removing the .Develoment.json and appsettings.json files
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml

Updated API README.md with more information Uploaded screenshot of API being started
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml

Added inline docs within deploy scripts
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/deploy.sh
Due: pipelines/deploy-infrastructure.yml

fixed line endings
  api/.gitignore
  api/LICENSE
  api/LinkyLink.sln
  api/global.json
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/ValidatePageController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Models/Link.cs
  api/src/LinkyLink/Models/LinkBundle.cs
  api/src/LinkyLink/Models/LinksContext.cs
  api/src/LinkyLink/Models/OpenGraphResult.cs
  api/src/LinkyLink/Models/UserInfo.cs
  api/src/LinkyLink/Program.cs
  api/src/LinkyLink/Properties/launchSettings.json
  api/src/LinkyLink/Service/ILinksService.cs
  api/src/LinkyLink/Service/IOpenGraphService.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
  api/tests/LinkyLink.Tests/ValidatePageControllerTests.cs
  api/theurlist_collection.json
  api/theurlist_localhost_env.json
  api/validate-api.http
Due: pipelines/api-pipelines.yml

Removed extra request variables from links in API README.md Misc Notes added and Swagger warnings denoted Misc small changes based on PR feedback
  api/README.md
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Web API Documentation (#15)
  api/.gitignore
  api/README.md
  api/docs/api_start.png
  api/docs/func_start.png
  api/docs/postman-disable-ssl-verification.png
  api/docs/postman_localhost.png
  api/docs/postman_response.png
  api/docs/swagger.png
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/ValidatePageController.cs
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
  api/theurlist_localhost_env.json
Due: pipelines/api-pipelines.yml

Fix infrastruture pipeline based on deploy script changes
  pipelines/deploy-infrastructure.yml
Due: pipelines/deploy-infrastructure.yml

Updating FE pipeline to use relative path
  pipelines/frontend-pipeline.yml
Due: none

Adding FE deployment scripts
  .DS_Store
  deployment/arm/.DS_Store
  pipelines/.DS_Store
Due: pipelines/deploy-infrastructure.yml

Path conditions:
  pipelines/api-pipelines.yml: any of: api, pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml: any of: deployment, pipelines/deploy-infrastructure.yml
