Repository Azure-Samples/openhack-production: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Path conditions:
  pipelines/api-pipelines.yml: any of: api, pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml: any of: deployment, pipelines/deploy-infrastructure.yml

fix: Deploy to staging, validate, swap slots
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Updates API pipeline to include resource group name
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Updated url in running integration tests
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Fix: Add new slot deployment to regional ARM template
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml

fix: Updates API deploy pipeline to use .NET Core 3.1
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml

Added site configuration to regional ARM template
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml

Updates docs to describe Azure B2C ROPC flow
  api/README.md
Due: pipelines/api-pipelines.yml

Refactors CRUD tests to be more readable
  api/tests/LinkyLink.Integration.Tests/LinkApiTests.cs
Due: pipelines/api-pipelines.yml

Updates inline docs for integration tests classes
  api/tests/LinkyLink.Integration.Tests/AzureAdB2C.cs
  api/tests/LinkyLink.Integration.Tests/IntegrationTest.cs
Due: pipelines/api-pipelines.yml

test: Adds integration tests for Links API (#32)
  api/LinkyLink.sln
  api/README.md
  api/tests/LinkyLink.Integration.Tests/AzureAdB2C.cs
  api/tests/LinkyLink.Integration.Tests/IntegrationTest.cs
  api/tests/LinkyLink.Integration.Tests/LinkApiTests.cs
  api/tests/LinkyLink.Integration.Tests/LinkyLink.Integration.Tests.csproj
  api/tests/LinkyLink.Integration.Tests/appsettings.json
  deployment/arm/region.json
  pipelines/api-pipelines.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Updated FE md per PR and added a mini-working agreement for the OH
  docs/working-agreement.md
  frontend/README.md
Due: none

Update FE Readme for development mode
  frontend/README.md
Due: none

Updated per PR feedback
  README.md
  api/README.md
  frontend/README.md
Due: pipelines/api-pipelines.yml

add both options for env variables
  frontend/README.md
Due: none

Update front-end docs wrt development environment variables (#37)
  frontend/README.md
Due: none

Converts infra deployment to use templates
  deployment/arm/common-script.sh
  deployment/arm/utils.sh
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml
  pipelines/templates/api-build.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/frontend-build.yml
  pipelines/templates/frontend-deploy-environment.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Attempts to fix hard coded azure subscription
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Updates variable group name to common
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Updates inline docs to discuss naming conventions
  pipelines/templates/api-deploy-environment.yml
Due: none

WIP: Updates to use shell script for resource naming
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/utils.sh
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/frontend-deploy-environment.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/deploy-infrastructure.yml

ci: Multi-stage environment pipelines (#36)
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/utils.sh
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml
  pipelines/templates/api-build.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/frontend-build.yml
  pipelines/templates/frontend-deploy-environment.yml
  pipelines/templates/iac-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Added the authentication reference for the frontend config file
  api/README.md
  frontend/README.md
Due: pipelines/api-pipelines.yml

Revised md files (#34)
  README.md
  api/README.md
  docs/working-agreement.md
  frontend/README.md
  frontend/docs/Images/Edit_page.png
  frontend/docs/Images/Homepage.png
  frontend/docs/Images/Manage_lists_page.png
  frontend/docs/Images/View_page.png
  frontend/docs/Images/localhost_debugging.png
  frontend/docs/Images/localhost_serve.png
Due: pipelines/api-pipelines.yml

WIP: Adds Azure B2C section to docs
  docs/Infrastructure.md
Due: none

Adds docs describing Azure AD B2C
  docs/AzureADB2C.md
  docs/Infrastructure.md
  docs/images/azure-b2c-apps.png
  docs/images/azure-b2c-identity-providers.png
  docs/images/azure-b2c-signed-in.png
  docs/images/azure-b2c-signin-flow.png
  docs/images/azure-b2c-user-flows.png
Due: none

Applies feedback from PR
  docs/AzureADB2C.md
  docs/Infrastructure.md
Due: none

docs: Adds Azure B2C docs for Urlist (#38)
  docs/AzureADB2C.md
  docs/Infrastructure.md
  docs/images/azure-b2c-apps.png
  docs/images/azure-b2c-identity-providers.png
  docs/images/azure-b2c-signed-in.png
  docs/images/azure-b2c-signin-flow.png
  docs/images/azure-b2c-user-flows.png
Due: none

Adds docs for AzDO pipelines
  deployment/README.md
  deployment/pipelines.md
  deployment/scripts.md
  docs/images/azdo-deploy-frontend.png
  docs/images/azdo-deploy-iac.png
  docs/images/azdo-deploy-slots.png
  docs/images/azdo-deploy-stages.png
  docs/images/azdo-environments.png
Due: pipelines/deploy-infrastructure.yml

docs: Adds docs for AzDO pipelines (#39)
  deployment/README.md
  deployment/pipelines.md
  deployment/scripts.md
  docs/images/azdo-deploy-frontend.png
  docs/images/azdo-deploy-iac.png
  docs/images/azdo-deploy-slots.png
  docs/images/azdo-deploy-stages.png
  docs/images/azdo-environments.png
Due: pipelines/deploy-infrastructure.yml

add .gitattributes to normalize line endings across os
  . gitattributes
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/utils.sh
Due: pipelines/deploy-infrastructure.yml

add .gitattributes to normalize line endings across os (#40)
  . gitattributes
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/utils.sh
Due: pipelines/deploy-infrastructure.yml

removeUserDeleteCheck
  api/src/LinkyLink/Controllers/LinksController.cs
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
Due: pipelines/api-pipelines.yml

Added async to method names and changes names
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/Models/Link.cs
  api/src/LinkyLink/Models/UserInfo.cs
  api/src/LinkyLink/Properties/launchSettings.json
  api/src/LinkyLink/Service/ILinksService.cs
  api/src/LinkyLink/Service/IOpenGraphService.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/src/LinkyLink/appsettings.sample.json
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/OpenGraphControllerTests.cs
Due: pipelines/api-pipelines.yml

typo
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
Due: pipelines/api-pipelines.yml

Deploying App Insights as Global Resource
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
  deployment/arm/region.json
  pipelines/templates/api-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

Fixed bug to render items from OpenGraph API
  frontend/src/services/list.service.ts
Due: none

comment line to enable application insights
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Implemented logging and tracing in the backend and frontend with distributed tracing. Updated the documentation to reflect the addition of the new vuejs variable for Application Insights.
  api/.vscode/tasks.json
  api/README.md
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  frontend/README.md
  frontend/public/index.html
  frontend/src/config.ts
  frontend/src/router.ts
Due: pipelines/api-pipelines.yml

Implemented logging and tracing in the backend and frontend with distributed tracing. Updated the documentation to reflect the addition of the new vuejs variable for Application Insights. (#43)
  api/.vscode/tasks.json
  api/README.md
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  frontend/README.md
  frontend/public/index.html
  frontend/src/config.ts
  frontend/src/router.ts
Due: pipelines/api-pipelines.yml
