Repository Azure-Samples/openhack-production: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

pipelines/api-pipelines.yml:
  name: api-pipeline
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndValidate
    displayName: Build & Validate
    jobs:
    - template: templates/api-build.yml
  - stage: Development
    displayName: Development
    dependsOn: BuildAndValidate
  ...

pipelines/deploy-infrastructure.yml:
  name: deploy-infrastructure
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Development
    displayName: Development
    variables:
    - group: prodoh-urlist-dev
    jobs:
    - template: templates/iac-deploy-environment.yml
      parameters:
  ...

pipelines/frontend-pipeline.yml:
  name: frontend-pipeline
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Development
    displayName: Development
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    variables:
    - group: prodoh-urlist-dev
    jobs:
    - template: templates/frontend-deploy-environment.yml
  ...

Enabled app insights
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Fixed bug to render items from OpenGraph API (#45)
  frontend/src/services/list.service.ts
Due: pipelines/frontend-pipeline.yml

removeUserDeleteCheck (#42)
  api/src/LinkyLink/Controllers/LinksController.cs
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
Due: pipelines/api-pipelines.yml

Added async to method names and changed UserInfo property name (#41)
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/Models/Link.cs
  api/src/LinkyLink/Models/UserInfo.cs
  api/src/LinkyLink/Properties/launchSettings.json
  api/src/LinkyLink/Service/ILinksService.cs
  api/src/LinkyLink/Service/IOpenGraphService.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/src/LinkyLink/appsettings.sample.json
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/OpenGraphControllerTests.cs
Due: pipelines/api-pipelines.yml

Added nested template to deploy APIM logger
  deployment/arm/deploy-global.sh
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

Added dependencies
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

Added resource group in dependencies
  deployment/arm/global.json
Due: pipelines/deploy-infrastructure.yml

removed appsettings.json
  api/src/LinkyLink/appsettings.json
Due: pipelines/api-pipelines.yml

test PR to run pipeline
  README.md
Due: none

UT
  api/tests/LinkyLink.Tests/LinksControllerTests.cs
Due: pipelines/api-pipelines.yml

removed duplicate App Insights from startup
  api/src/LinkyLink/Startup.cs
Due: pipelines/api-pipelines.yml

Deploying App Insights as Global Resource (#44)
  api/src/LinkyLink/LinkyLink.csproj
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  deployment/arm/common-script.sh
  deployment/arm/deploy-global.sh
  deployment/arm/deploy-region.sh
  deployment/arm/global.json
  deployment/arm/region.json
  pipelines/templates/api-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml

fixes issues with Azure AD B2C by manually setting up metadata config
  frontend/src/components/NavBar.vue
  frontend/src/config.ts
Due: pipelines/frontend-pipeline.yml

Migrates auth logic to auth service
  frontend/src/components/NavBar.vue
  frontend/src/router.ts
  frontend/src/services/auth.service.ts
  frontend/src/services/user.service.ts
  frontend/src/store/UserModule.ts
  frontend/src/views/Auth.vue
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
Due: pipelines/frontend-pipeline.yml

Adds openid controller for auth config pass through
  api/README.md
  api/src/LinkyLink/Controllers/OpenIdController.cs
  frontend/README.md
  frontend/src/config.ts
  frontend/src/services/auth.service.ts
  frontend/src/store/UserModule.ts
Due: pipelines/api-pipelines.yml, pipelines/frontend-pipeline.yml

Updates APIM config to add OpenID api
  deployment/arm/region.json
Due: pipelines/deploy-infrastructure.yml

Adds Azure ad b2c name param to deploy pipeline
  pipelines/templates/api-deploy-environment.yml
Due: none

Lowers code coverage temporarily
  pipelines/templates/api-build.yml
Due: none

fix: Resolves login issue with Azure AD B2C (#47)
  api/README.md
  api/src/LinkyLink/Controllers/OpenIdController.cs
  deployment/arm/region.json
  frontend/README.md
  frontend/src/components/NavBar.vue
  frontend/src/config.ts
  frontend/src/router.ts
  frontend/src/services/auth.service.ts
  frontend/src/services/user.service.ts
  frontend/src/store/UserModule.ts
  frontend/src/views/Auth.vue
  frontend/src/views/Login.vue
  frontend/src/views/Logout.vue
  pipelines/templates/api-build.yml
  pipelines/templates/api-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

all changes
  api/LinkyLink.sln
  api/src/LinkyLink/Controllers/LinksController.cs
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/Models/Link.cs
  api/src/LinkyLink/Models/LinkBundle.cs
  api/src/LinkyLink/Models/LinksContext.cs
  api/src/LinkyLink/Models/OpenGraphRequest.cs
  api/src/LinkyLink/Models/OpenGraphResult.cs
  api/src/LinkyLink/Models/UserInfo.cs
  api/src/LinkyLink/Program.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/src/LinkyLink/Startup.cs
  api/src/LinkyLink/appsettings.sample.json
  api/tests/LinkyLink.Tests/Controllers/HealthControllerTests.cs
  api/tests/LinkyLink.Tests/Controllers/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/Controllers/OpenGraphControllerTests.cs
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
Due: pipelines/api-pipelines.yml

bug
  api/src/LinkyLink/Service/LinksService.cs
Due: pipelines/api-pipelines.yml

fix deployment job download artifact failure
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/frontend-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

bug (#48)
  api/src/LinkyLink/Service/LinksService.cs
Due: pipelines/api-pipelines.yml

Added appsettings.json
  api/src/LinkyLink/Models/LinksContext.cs
  api/src/LinkyLink/appsettings.sample.json
Due: pipelines/api-pipelines.yml

couple of service tests
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
Due: pipelines/api-pipelines.yml

Removed code coverage exclusion
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Service/LinksService.cs
Due: pipelines/api-pipelines.yml

Removed AutoFixture package
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
Due: pipelines/api-pipelines.yml

fix deployment job download artifact failure (#49)
  pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml
  pipelines/templates/api-deploy-environment.yml
  pipelines/templates/frontend-deploy-environment.yml
Due: pipelines/api-pipelines.yml, pipelines/deploy-infrastructure.yml, pipelines/frontend-pipeline.yml

Updated working agreement per team's dry run discussion
  docs/working-agreement.md
Due: none

Updated the infrastructure pic
  docs/images/infrastructure-diagram.png
Due: none

Updates
  api/src/LinkyLink/Controllers/OpenGraphController.cs
  api/src/LinkyLink/Helpers/UserAuth.cs
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/tests/LinkyLink.Tests/Controllers/HealthControllerTests.cs
  api/tests/LinkyLink.Tests/Controllers/LinksControllerTests.cs
  api/tests/LinkyLink.Tests/Controllers/OpenGraphControllerTests.cs
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
  api/tests/LinkyLink.Tests/Service/LinksServiceTests.cs
Due: pipelines/api-pipelines.yml

Code coverage
  api/src/LinkyLink/Service/LinksService.cs
  api/src/LinkyLink/Service/OpenGraphService.cs
  api/tests/LinkyLink.Tests/LinkyLink.Tests.csproj
Due: pipelines/api-pipelines.yml

Increased code coverage
  pipelines/templates/api-build.yml
Due: none

Increased code coverage
  api/src/LinkyLink/Controllers/OpenIdController.cs
  pipelines/templates/api-build.yml
Due: pipelines/api-pipelines.yml

Fixed SingleDefaultAsync
  api/src/LinkyLink/Service/LinksService.cs
Due: pipelines/api-pipelines.yml

Updated code coverage threshold
  api/src/LinkyLink/Controllers/OpenIdController.cs
  pipelines/templates/api-build.yml
Due: pipelines/api-pipelines.yml

Removed unused label
  docs/images/infrastructure-diagram.png
Due: none

Updated the infrastructure pic (#52)
  docs/images/infrastructure-diagram.png
Due: none

Added another controller test
  api/tests/LinkyLink.Tests/Controllers/OpenGraphControllerTests.cs
Due: pipelines/api-pipelines.yml

Path conditions:
  pipelines/api-pipelines.yml: any of: api, pipelines/api-pipelines.yml
  pipelines/deploy-infrastructure.yml: any of: deployment, pipelines/deploy-infrastructure.yml
  pipelines/frontend-pipeline.yml: any of: frontend, pipelines/frontend-pipeline.yml
